<section class="top_section clearfix">
  <div class="profile_block fleft">
    <label class="fleft">Profile Name</label>
    <div class="cust_input_text_option fleft">
      <input type="text" placeholder="e.g PM" name="profile_name_field" class="fleft">
    </div>
    <div class="cust_check_option fleft">
      <input type="checkbox" name="is_admin" id="is_admin" value="is_admin">
      <label for="is_admin" class="clearfix">
									<span class="check_option"></span>
									<span>Is Admin</span>
								</label>
    </div>
  </div>
  <div class="add_user_block">
    <label class="fleft">Add People to this profile</label>
    <div class="cust_textarea_option fleft">
      <textarea class="fleft"></textarea>
    </div>
    <div class="fright">
      <a href="javascript:void(0)" class="fright cust_save_btn text_center">Check Users</a>
    </div>
  </div>
</section>